.wrapper {
    position: relative;
    background: #F0FFF0;
    width: 1200px;
    min-height: 580px;
}

.chat_room {
    position: relative;
    float: right;
    width: 70%;
    border: 2px solid darkblue;
    padding: 15px;
    margin: 15px;
    height: 500px;
}

.online_user {
    overflow: auto;
    float: left;
    width: 25%;
    height: 550px;
    border: 2px solid darkblue;
    padding: 15px;
    margin: 15px;
}

.chat_title {
    font-weight: bold;
    position: absolute;
    background: #F0FFF0;
    top: -14px;
    left: 50px;
    padding: 0 10px;
}

.online_user p {
    color: #8B0000;
    font-weight: bold;
    margin: 0;
}

.chat_msg {
    height: 480px;
    overflow: auto;
}

.chat_msg p {
    margin: 0;
}

.user_title {
    font-weight: bold;
    position: absolute;
    background: #F0FFF0;
    top: 3px;
    left: 50px;
    padding: 0 10px;
}

.input_msg {
    margin: 0 15px;
    width: 60%;
    padding: 3px 8px;
    border: 2px solid darkblue;
}

.input_btn {
    width: 100px;
    padding: 3px 8px;
    font-weight: bold;
    background: #32CD32;
    border: 2px solid #32CD32;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    letter-spacing: 5px;
}

